body {
    margin: 0;
    font-family: Arial, sans-serif;
}


.navbar {
    background-color: #333;
    color: white;
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar ul {
    list-style: none;
    display: flex;
    gap: 20px;
}
.hero {
    background: linear-gradient(to right, #007BFF, #0056b3);
    color: white;
    text-align: center;
    padding: 100px 20px;
}

.hero button {
    padding: 12px 25px;
    border: none;
    background-color: white;
    color: #007BFF;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
}

.hero button:hover {
    background-color: #bda9a9;
}

.about {
    padding: 60px;
    text-align: center;
}

.contact {
    background-color: #f4f4f4;
    padding: 60px;
    text-align: center;
    text-decoration: line-through;
}
